<div class="container">

  <div class="section">

    <H1 class="text-center">Test</H1>
  </div>

  <div class="section">

    <div class="col col-1">
     
      <input type="checkbox"   (change)="checkAllCheckBox($event)">
     
     
     <span><b> &nbsp; Selected : </b> </span> {{count}} </div>
    
    <div class="col col-2"> 

      <button [disabled]="disabled" (click)="download()"><fa-icon [icon]="faDownload"></fa-icon> &nbsp; Download Selected</button> 
     
      
      </div>
    
    </div> <!-- end of section -->

<table class="striped">
  <thead>
  <tr>
   <th></th>
    <th>Name</th>
    <th>Device</th>
    <th>Path</th>
    <th>Status</th>
  </tr>
</thead>

<tbody>
  <tr *ngFor="let data of Files" [style.background]="data.isSelected && data.status == 'available' ? '#d5f4e6' : data.isSelected && data.status == 'scheduled' ? '#f7cac9' : ''">
    
    <td>

      <input type="checkbox" class="custom-control-input" value={{data.status}} [(ngModel)]="data.isSelected" (ngModelChange)="changed()">
     
  </td>

    <td>{{data.name}}</td>
    <td>{{data.device}}</td>
    <td>{{data.path}}</td>

 <td [ngStyle]="{'color': data.status == 'available' ? 'green':'red'}">  
  
      <ng-template [ngIf]="data.status == 'available'">
        <span class="dot green-bg"></span>
      </ng-template>

      <ng-template [ngIf]="data.status == 'scheduled'">
        <span class="dot red-bg"></span>
      </ng-template>
      
      {{data.status}}  
    
    </td>

  </tr>

</tbody>
  
</table>

</div> <!-- end of container -->